
	


	.dummy
	{
    color :red ;
	}

	.head
	{
		background-color: #352917;
		
		color : blue ;
		padding : 20px 200px 70px 200px ;
		
		
	}
	.body_no_mar
	{
		margin : 0px 0px 0px 0px;
	}
	
	.nav_right
	{
		padding:0px 0px 0px 0px ;
		width : 66.66% ;
		float : left; 
		
	}
	.nav_left
	{
		padding: 0px 0px 0px 0px ;
		width : 33.33% ;
		float: left;
		
		
	}
	.admin_nav_bg
	{
		background-color:#4d0000;
		
	}
	.admin_nav
	{
		
		
		width : 100% ;
		float : left; 
		
	}
	ul
	{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
	}

	
	.alist
	{
	 margin :0;

	}
	

	
	.alist a
	{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}

	
	.alist a:hover 
	{
    background-color: #352917;

	}
	
	.alist a:active 
	{
    background-color: #352917;
	}
	.pad
	{
		padding : 30px 600px 50px 600px;
	}
	
	.error_red
	{
		color : red ;
	}

